body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    background-color: #eee;
    margin: 0;
}

h1{
    text-align: center;
    background-color: white;
    margin: 0 0 20px 0;
    padding: 20px;
}
.container{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;}

.container input, .container select{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.container input{
    width: calc(100% - 22px);
}
.container input:focus, .container select:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}