* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.todo-container {
  width: 600px;
  margin: 50px auto 0;
  background-color: #f6f6f6;
}

.todo-container .add-task {
  padding: 15px;
  background-color: #009688;
  position: relative;
}

.todo-container .add-task input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: calc(100% - 15px);
  color: white;
  font-size: 20px;
}

.todo-container .add-task .plus {
  position: absolute;
  height: 43px;
  width: 43px;
  background-color: white;
  right: 12px;
  border-radius: 50%;
  line-height: 43px;
  text-align: center;
  color: #009688;
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.3s;
}

.todo-container .add-task .plus:hover {
  transform: rotate(90deg);
}
.todo-container .tast-container {
  padding: 15px;
}
.todo-container  .no-task {
  color: #777;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  display: block;
}
.todo-container .tast-container > span {
  display: block;
  background-color: #fff;
  padding: 10px;
}
.todo-container .tast-container > span:not(:last-child) {
  margin-bottom: 10px;
}
.todo-container .tast-container .task-box .delete {
  background-color: #e91e63;
  color: white;
  cursor: pointer;
  float: right;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  line-height: 0.9;
  width: fit-content;
}

.todo-container .tast-container .task-box.finished {
  text-decoration: line-through;
}
.task-stats {
  overflow: hidden;
  margin: 10px auto;
  width: 600px;
  font-size: 12px;
}
.task-stats .task-count {
  width: 50%;
  float: left;
  padding: 10px;
}
.task-stats .task-completed {
  width: 50%;
  float: right;
  padding: 10px;
  text-align: right;
}

.task-stats .task-completed span,
.task-stats .task-count span {
  color: white;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: bold;
}
.task-stats .task-count span {
  background-color: #e91e63;
}
.task-stats .task-completed span {
  background-color: #03a9f4;
}
.start {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  display: none;
}
.start .completedAll,
.start .delete-all {
  width: 48%;
  text-align: center;
}
.start .delete-all button,
.start .completedAll button {
  padding: 5px 10px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}