* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8;
  padding: 15px;
}

.quiz-app .quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
}

.quiz-app .quiz-info .category {
  flex: 1;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-area {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px;
}
.quiz-app h2 {
  margin: 0;
}
.quiz-app .answers {
  background-color: #fff;
  padding: 20px;
}
.quiz-app .answers .answer {
  background-color: #f9f9f9;
  padding: 20px 20px;
}
.quiz-app .answers .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  margin: 5px;
  position: relative;
  top: -1;
  font-size: 14px;
}
.quiz-app .submit {
  background-color: #0075ff;
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
}
.quiz-app .submit:focus {
  outline: none;
}

.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #dfdfdf;
  border-radius: 50%;
  margin-right: 5px;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results {
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color:#dc0a0a ;
}
.quiz-app .results span.good {
  color:#009688 ;
}
.quiz-app .results span.perfect 
 {
  color:#0075ff ;
}
