* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin: 0 0 16px;
  padding: 16px;
  background-color: white;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}
.cell{
    background-color: white;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s ;
    text-align: center;
    line-height: 1.7;
}
.cell:hover{
    background-color: #f9f9f9;
}
.player-x{
color: red;
}
.player-y{
color: blue;
}